body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    outline: 1px dashed green;
    min-height: 500px;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    min-width: 10rem;
}

.main-container {
    min-height: 20rem;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   // outline: 1px solid red;
}

form {
 //   outline: 1px dashed blue;
    width: 100%;
    height: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 5ch
    
}

header {
    width: 100%;
    height: 30px;
    
}

a {
    color: #000000;
    opacity: 75%;
    text-decoration: none;
}

